<div class="row" id="footer">

  <div class="col-md-3 offset-1">
    <a mat-button><span class="fa fa-home fa-lg"></span>Home</a><br>
    <a mat-button><span class="fa fa-home fa-lg"></span>Appointments</a><br>
    <a mat-button><span class="fa fa-home fa-lg"></span>New Appointment</a><br>
    <a mat-button><span class="fa fa-about fa-lg"></span>About</a>
  </div>
  <div class="col-md-3 offset-1">
<h2>Address:</h2>
<br>
<p>H.No : 1-2-333,<br>
  Miryalaguda,<br>
  Hyderabad,<br>
  Telangana,<br>
  Pincode : 700012
</p>
  </div>
</div>
