<div id = "header">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RedPlus+</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#" matTooltip="Home">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="patients" matTooltip="Appointments">Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="patients" matTooltip="Patients">Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="addpatient" matTooltip="New Patient">New Patient</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="doctor" matTooltip="Doctors">Doctors</a>
        </li>

      </ul>
      <form class="d-flex">

        <button type="button" class="btn btn-secondary" matTooltip="Login" (click) = "Navigate()"><i class="fas fa-home"></i>Login</button>
      </form>
    </div>
  </div>
</nav>
</div>
