<h1><b>Edit</b></h1>
<form name="AppointmnetForm" (submit) = " OpenAppointmentForm()" >

<mat-form-field>
    <mat-label>Name</mat-label>
    <br>
      <input matInput placeholder="Name" type="text">
    </mat-form-field>
      <br>
      <mat-form-field>
      <mat-label>Degree</mat-label>
      <br>
      <input matInput placeholder="Degree" type="text">
    </mat-form-field>
      <br>
      <mat-form-field>
      <mat-label>Specialization</mat-label>
      <br>
      <input matInput placeholder="Specialization" type="text">
    </mat-form-field>
      <br><br>


  &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<button  type="submit" class="btn btn-primary"> Edit-Chnages </button>

  </form>
